<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电影展示</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/wap.css">
</head>

<body ng-app="moviecat" ng-controller="MovieCatController">
    <!-- 顶部导航栏开始 -->
    <div class="top">
        <div class="header">
            <a href="#/home_page"><img src="assets/img/logo.png" alt=""></a>
            <div class="search">
                <input class="my-input" type="text" placeholder="电影搜索" ng-model='keyWord'>
                <button ng-click="search()">搜索</button>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <!--li中添加 active 类样式，显示焦点状态。-->
                <li click-active><a href="#/home_page">首页</a></li>
                <li click-active><a href="#/in_theaters">正在热映</a></li>
                <li click-active><a href="#/coming_soon">即将上映</a></li>
                <li click-active><a href="#/top250">Top250</a></li>
            </ul>
        </nav>
    </div>
    <!-- 顶部导航栏结束 -->
    <div class="container">
        <!-- 单页应用程序中：首页、列表页、详情页 展示的位置 -->
        <div ng-view></div>
        <!--其他-->
    </div>
    <footer class="footer">
        <div class="container">
            <p>版权所有&copy; 前端与移动开发学院 前端(允许侵权)</p>
        </div>
    </footer>
    <!-- 自动补全C3样式的前缀 -->
    <script src="assets/js/prefixfree.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <!-- 引入 home 模块的js文件 -->
    <script src="home/module.js"></script>
    <script src="common/jsonpSrv.js"></script>
    <script src="common/clickActive.js"></script>
    <script src="movie_list/module.js"></script>
    <script src="movie_detail/module.js"></script>
</body>

</html>
